.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100vw;
    background-color: var(--white-gray);
    box-sizing: border-box;
}
.footer{
    background-color: var(--white-gray);
    margin-top: 5rem;
}
.main-sec-reg{
    height: 100vh;
    padding: 3rem;
    box-sizing: border-box;
   
}

.title {
    display: flex;
    align-items: center;
    background-color: var(--light-blue);
    height: 100px;
    text-transform: uppercase;
}

.reg-form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 17.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.input-label{
    display: flex;
    align-items: center;
    justify-content: center;

}
 input {
    width: 100%;
    box-sizing: border-box;
 }

.reg-button {
    background-color: var(--blue);
    color: var(--text-white);
    padding: 10px 15px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem;
}

.reg-button:hover {
    background-color:var(--light-blue);
    color: var(--dark-green);
}
.reg-form input{
    padding:0.125rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 1rem;
    border: 0.125rem solid var(--light-blue);
   }

.reg-form span{
font-family: 'Inter', sans-serif;
text-transform: uppercase;
text-align: center;
background-color: var(--light-blue);
padding: 0.25rem;
border-radius: 0.5rem;
color: var(--dark-green);
font-weight: 600;
margin: 0.25rem;
}

@media (max-width:767px){
    .main-sec-reg{
      padding: 1rem;
    }
    
  }
  @media (max-width:350px){
    .main-sec-reg{
      padding: 0.5rem;
    }
    
  }