.custom-intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.intro-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 70%;
    height: 100%;
    text-align: center;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
.isolate-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 0.125rem;
    justify-content: space-evenly;
}
.intro-text h1{
    
    font-size: 3.5rem;
    margin-bottom: 0.125rem;
    font-weight: 700;
}
.intro-text h2{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}
.intro-text p {
    font-size: 1rem;
}
.intro-text h2, .intro-text p {
    font-family: 'Inter', sans-serif;
}
.isolate-desc{
    width: 50%;
    text-align: center;
}
.intro-text button, .intro-text h1{
    font-family: 'Bebas Neue', sans-serif;
}
.intro-text button{
    font-weight: 500;
    max-width: fit-content;
    border-radius: 0.625rem;
    background-color: var(--blue);
    color: var(--text-white);
    padding: 0.5rem;
    font-size: 1.25rem;
    border: transparent;
}
.intro-text button:hover{
    background-color: var(--light-blue);
    color: var(--dark-green);
}

.intro-img{
    padding: 0.5rem;
    align-items: center;
}
.agidoc-img{
    width: 25rem;
    height: 25rem;
}

@media (max-width: 767px){
    .custom-intro{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .isolate-desc{
        width: 80%;
    }
    .agidoc-img{
        width: 15.5rem;
        height: 17.5rem;
    }
    .intro-img{
        padding: 0.125rem;
    }
    .intro-text{
        padding: 0.5rem;
        width: 90%;
    }
    .intro-text h1{
        font-size: 2.5rem;
    }
    .intro-text h2{
        font-size: 1rem;
    }
    .intro-text p {
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .intro-text{
        width: 95%;
        padding: 1rem;
        
    }
    .isolate-desc{
        width: 100%;
    }
    .agidoc-img{
        width: 20rem;
        height: 20rem;
    }
 
}
@media (min-width: 1920px) {
    .intro-text{
        width: 60%;
        padding: 1rem;
        
    }
    .isolate-desc{
        width: 60%;
    }
    .agidoc-img{
        width: 30rem;
        height: 30rem;
    }
    .intro-text h1{
        font-size: 4.5rem;
    }
    .intro-text h2{
        font-size: 2rem;
    }
    .intro-text p {
        font-size: 1.75rem;
    }
    .intro-text button {
        font-size: 1.75rem;
    }
 
}