.custom-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--blue);
    background-color: var(--white-gray);
    padding: 2rem 0;
    width: auto;
    align-items: center;

}


.custom-section h2 {
    white-space: pre-line;
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Bebas Neue', sans-serif;
}

.custom-row {
    display: grid !important; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem;
}

.custom-card {
    flex: 1;
    width: 15rem;
    height: 15.5rem;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    background-color: var(--blue);
    color: var(--text-white);
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 0.625rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.custom-card:hover{
    background-color: var(--light-blue);
    color: var(--dark-green);
}

.custom-card p {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

@media (max-width: 767px){
   
    .custom-row{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }
    .custom-card {
        width: 12.5rem;
        height: 11rem;
        
    }
    
    
}

@media (min-width: 768px) and (max-width: 1200px) {

    .custom-card {
        width: 15rem;
        height: 15rem;
        
    }
    
    .custom-card p {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: normal;
        font-size: 1rem;
    }
    
}
@media (min-width: 1920px) {
    .custom-card {
        width: 30rem;
       
        
    }
    .custom-card p {
        font-size: 1.5rem;
       
        
    }
 
}