.home-content{
    background-color: var(--dark-green);
    color: var(--text-white);
    
}
.container{
    width: 80vw;
    padding: 2rem;
}
.service-container{
    background-color: var(--white-gray);
    
}
.main-section{
    height: fit-content;
    min-height: 100vh;
}

.info-container, .service-container, .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}