.page-render-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-gray);
    width: 100vw;
}

.custom-flex {
    display: flex;
    gap: 5rem;
}