
.page-render{
    display: flex;
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.header-section{
    margin-bottom: 5rem;
}


